html {
    font-family: Fira Code SemiBold, monospace;
    color: white;
    background-color: black;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* I need a better name for this class */

.centeredButNotReally {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

a:hover {
    text-decoration: underline;
}

